* {
  box-sizing: border-box
}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: #0C102F;
}

main{
    position: absolute;
    width: 50vw;
    height: 30vw;
    margin: 5% 25%;
    
    
}
/* Style tab links */
.tablink {
  background-color: #89124f;
  color: #101323;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 25px;
  font-weight: bold;
  width: 50%;
}

.tablink:hover {
  background-color: #489314;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  text-align: center;
}
h3{
    text-align: center;
    font-size: 1.5em;
    color: #101323;
}
.tabcontent> button{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 5%;
    background-color: #f0007a;
    border: none;
    padding: 3%;
    cursor: pointer;
}


.tabcontent> span{
    display: block;
    color: #101323;
    text-align: center;
    font-size: 50px;
    margin: 1.5em;
}
#News {
  background-color: #6de716;
  border-radius: 15px;  
}
#Contact {
  background-color: #6de716;
  border-radius: 15px;
}

